<nav class="navbar navbar-expand-md">
    <span class="navbar-brand" style="font-family: serif; font-weight: 700;">
        <img src="/static/favicon.ico" class="d-inline-block align-top" style="height: 32px;" alt="Logo" loading="lazy">
        {{ site.title }}
    </span>

    <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/">主页</a></li>
            <li class="nav-item"><a class="nav-link" href="/twitter.html">推特</a></li>
            <li class="nav-item"><a class="nav-link" href="/about.html">关于</a></li>
        </ul>
    </div>
</nav>
